@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: #F3F3F3;
    scroll-behavior: smooth;   
}

/* ============================ header ================================= */

/* barra negra */
header .msj-ofertas-idioma-pais {
    color: #F3F3F3;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 5%;
    background: #222222;
}

header .msj-ofertas-idioma-pais select{
    border: 0;
    background-color: transparent;
    color: #F3F3F3;
}

/* barra naranja */

.barra-logo-nav {
    height: 80px;
    background: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.barra-logo-nav .container-logo {
    width: 250px;
}

.barra-logo-nav .container-logo img {
    width: 250px;
}

.barra-logo-nav nav ul.lista-nav{
    display: flex;
    list-style-type: none;
    gap: 25px;
    color: #F3F3F3;
}

ul.lista-nav li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

ul.lista-nav li img {
    margin: 0 2px;
    width: 22px;
}

ul.lista-nav li span{ 
    font-size: 20px;
}

/* boton hamburguesa oculto */
.barra-logo-nav img[ alt="Menú hamburguesa"]{
    display: none;
}

/* hero section */

section.hero {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 76.8vh;
    background: url(../img/bowl-and-pet-daities-on-green-background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-bottom: 10%;
}

.hero .texto h2 {
    text-align: center;
    letter-spacing: -0.5px;
    background-color: #F3F3F3;
    color: #3C2313;
    font-size: 2.7rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px 10px;
    white-space: nowrap;
}

.hero .texto p {
    color: #3C2313;
    font-size: 1.7rem;
    margin: 20px 0;
    text-align: center;
}

.hero .texto span {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #F3F3F3;
    background-color: #F0A83E;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 190px;
    padding: 20px;
}

section.productos-destacados {
    text-align: center;
}

section.productos-destacados .productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

img[alt="icono-patita"]{
    width: 100px;
    margin-top: 7%;
}

section.productos-destacados h2 {
    font-size: 4rem;
    color: #3C2313;
}

section.productos-destacados p {
    color: #666666;
    font-size: 1.4rem;
    margin: 20px;
    margin-bottom: 100px;
}

.productos-destacados .productos > div {
    background-color: #FBFAF6;
    width: 400px;
    height: 480px;
}   

.productos .tarjeta-producto-1 p, .productos .tarjeta-producto-2 p, .productos .tarjeta-producto-3 p{
    font-weight: 500;
    color: #3C2313;
    position: relative;
    bottom: 25px;
}

.productos .tarjeta-producto-1 span, .productos .tarjeta-producto-2 span, .productos .tarjeta-producto-3 span{
    color: #F0A83E;
}

.productos .tarjeta-producto-1 img, .productos .tarjeta-producto-2 img, .productos .tarjeta-producto-3 img{
    width: 100%;
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.contacto form h2 {
    color: #3C2313;
    font-size: 2.7rem;
    margin-bottom: 30px;
    margin-top: 120px;
}

.contacto form input {
    width: 530px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #3C2313;
    padding-left: 20px;
}

input::placeholder{
    color: #F3F3F3;
    font-size: 15px;
}

.contacto form .buttons {
    width: 530px;
    text-align: center;
    margin-top: 50px;
}

form .buttons button {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    border: none;
    color: #F3F3F3;
    background-color: #8A8787;
    font-size: 25px;
    cursor: pointer;
}

form .buttons button:last-child {
    background-color: #F0A83E;
    margin-left: 10px;
}


/* =======================footer=========================== */

footer .barra-suscripcion {
    min-height: 100px;
    background-color: #F0A83E;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}


footer .barra-suscripcion div {
    display: flex;
    align-items: center;
}

.barra-suscripcion div img {
    height: 40px;
}

.barra-suscripcion div p {
    font-size: 30px;
    margin-left: 15px;
    color: #FBFAF6;
}

.barra-suscripcion div input {
    height: 70px;
    width: 420px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
}

.barra-suscripcion div input::placeholder {
    color:  #8A8787;
    padding-left: 15px;
}

.barra-suscripcion div button {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #3C2313;
    color: #FBFAF6;
    cursor: pointer;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    background-color: #3C2313;
}

footer .contacto .localidad, footer .contacto .telefono, footer .contacto .correo{
    display: flex;
    margin: 35px;
}

 .contacto .localidad img,  .contacto .telefono img,  .contacto .correo img {
    width: 90px;
    margin-right: 25px;
 }

 .contacto .localidad .texto,  .contacto .telefono .texto,  .contacto .correo .texto {
    color: #8A8787;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .contacto .localidad h4,  .contacto .telefono h4,  .contacto .correo h4 {
    color: white;
    font-size: 2rem;
    white-space: nowrap;
 }

 .contacto .imagen-logo-final {
    width: 270px;
 }
 .contacto .imagen-logo-final img {
    width: 100%;
 }

 footer .mensaje-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #FBFAF6;
    height: 30px;
 }

 @media (max-width: 1279px){


    .barra-logo-nav .container-logo{
        width: 220px;
    }
    
    .container-logo img[alt="logo"]{
        width: 100%;
    }

    section.hero .texto{
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .productos-destacados .productos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .barra-suscripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 2% 0;
    }
 }
 @media (max-width: 822px) {
    nav{
        display: none;
    }

    .barra-logo-nav img[ alt="Menú hamburguesa"]{
        display: block;
        width: 25px;
        cursor: pointer;
    }
 }

 @media  (max-width: 1000px) {
    .contacto{
        flex-direction: column;
    }

    .imagen-logo-final{
        order: -1;
        margin-top: 20px;
    }
 }
 @media (max-width: 570px){
    
    section.hero .texto{
        width: 100%;
    }

    section.hero .texto h2 {
        font-size: 8vw;
    }

    section.productos-destacados h2{
        /* text-align: center; */
        font-size: 9.8vw;
        font-weight: 700;
        line-height: 3.6rem;
        margin-bottom: 10%;
    }

    .productos div.tarjeta-producto-1, .productos div.tarjeta-producto-2, .productos div.tarjeta-producto-3{
        width: 60%;
        height: 400px;
    }

    section.contacto form{
        width: 100%;
    }

    section.contacto form input{
        width: 90%;
    }
    .barra-suscripcion div img,.barra-suscripcion div p{
        font-size: 5vw;
    }

    .barra-suscripcion div input {
        width: 60vw;
        margin-bottom: 1%;
    }

    .barra-suscripcion div button{
        width: 25vw;
    }
 }
 